@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, dark;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  line-height: 1.5;
  transition: background-color 0.4s, color 0.4s;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
